
/********************************* General Things ****************************************/

html,
body { height:100%; }

html {
    /* set everything to border-box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


body
{
	/* default behavior */
	background: #111;
	color:#888;
	font-family: "Arial", sans-serif;
	font-size:10pt;
}

h1
{
	color:white;
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
}

button,
input,
select
{
	border:none;
	background: #111;
	color:white;
	width:100%;
	height:25px;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
}

button
{
	font-weight: bold;
	cursor: pointer;
}



/*
 * Run
 */

button#run
{
	width:100%;
	height:50px;
	background-color: #2B87FF;
}

button#run:hover
{
	background-color: #34ACFF;
}


/*
 * Aside
 */

aside
{
	background: #222;
	position: absolute;
	top:0px;
	left:0px;
	width:300px;
	min-height: 100%;
	text-align: left;
}

aside > section
{
	padding:40px 20px;
}

aside h2
{
	margin-top:45px;
	margin-bottom:15px;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}

aside h2:first-of-type
{
	margin-top: 0px;
}


aside table td,
aside table th
{
	padding:3px 1px;
}

aside table tr th:first-of-type,
aside table tr td:first-of-type { padding-left:0px; }
aside table tr th:last-of-type,
aside table tr td:last-of-type { padding-right:0px; }

aside table#settings th
{
	padding-left:10px;
}

aside table td > *
{
	display:block;
}

aside table input,
aside table select
{
	padding:3px;
}

aside button.add
{
	float:right;
	width:50px;
	height:100%;
	font-size: 14px;
}

aside button.add:hover
{
	color:#2F2;
}

aside table .color
{
	width:25px;
	height:25px;
}

aside table button.delete
{
	width:25px;
	height:25px;
}

aside table button.delete:hover
{
	color:#F30;
}

aside table tbody tr:first-of-type button.delete
{
	display: none; /* hide the first delete button */
}


/*
 * Main display area
 */

#main
{
	height:100%;
	padding:30px;
	padding-left:300px;
	text-align: center;
}


/*
 * Errors
 */

#errors
{
	color:rgb(255, 30, 30);
}


/*
 * Output
 */

ul#output li
{
	padding-top:20px;
}


ul#output li *
{
	display:inline-block;
}

ul#output li h1
{
	color:white;
	font-size: 26px;
	padding-right:20px;
}


/*
 * Welcome message
 */

#welcome
{
	/* vertical centering */
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

	text-align: left;
	margin-left:auto;
	margin-right:auto;
	width:300px;
}

#welcome > *
{
	margin-bottom: 1em;
}


/* ====================================== printer ======================================= */

@media print
{
	section
	{
		border:none !important;
		background-color: transparent !important;
	}

	section:not(.result)
	{
		display:none !important;
	}

	section.result
	{
		width:766px; /* ensures that there is enough room to put everything on a single line */
	}

	section.result h1
	{
		font-size: 20pt;
		display:inline;
		width:auto;
		padding-right:10px;
	}

	section.result canvas
	{
		display:inline;
	}
}